@page "/Ajuda"

<PageTitle>ajuda</PageTitle>
<body>
 
    <ul class="voltar">
        <a href="https://localhost:7267/inicio"><h3>Voltar para o ínicio</h3></a>
    </ul>    
 
    
    <div class="box">
        <h1>Funções das Peças</h1>

        <h2>Placa mãe</h2><br>
        <p>A placa mãe é a parte do computador onde todos os componentes<br> são interligados. Isso é, é a ponte de conexão entre toda a operação do seu sistema.<br> Ela é a peça principal do seu computador e contém diversos soquetes que <br>a conectam a outras placas, como a placa de som ou de vídeo, por exemplo.</p><br>

        <h2>Processador</h2><br>
        <p>O processador é o cérebro do computador, principal responsável<br> pelo desempenho da máquina. Enquanto você pode atualizar a quantidade de memória RAM, o <br>tipo de disco e o espaço de armazenamento para os arquivo</p><br>

        <h2>Cooler</h2><br>
        <p>Além de permitir que o PC trabalhe melhor, sem erros ou queda de <br>rendimentos, o cooler protege as peças componentes evitando que “fritem” em um<br> ambiente de temperatura elevada. As peças do computador produzem muito calor, principalmente as de alto desempenho.</p><br>
        
        <h2>Water Cooler</h2><br>
        <p>O Water Cooler é um equipamento de refrigeração do processador e <br>placa de vídeo que oferece melhores resultados que os tradicionais cooolers que <br>são apenas ventiladores para dissipar ar quente.</p><br>
        
        <h2>Placa de Video</h2><br>
        <p>A placa de vídeo é o componente do computador responsável por<br> enviar a imagem que será exibida pelo monitor. Também chamada de unidade de processamento <br>de gráficos, a placa de vídeo influencia no nível de resolução máxima do aparelho de exibição, como Full HD ou 4K.</p><br>

        <h2>Memória de Armazenamento</h2><br>
        <p>Enquanto a memória refere-se ao local de dados de curto prazo, o <br>armazenamento é o componente do seu computador que permite que você armazene e acesse <br>dados no longo prazo. Normalmente, o armazenamento vem na forma de uma unidade de estado sólido ou um disco rígido.</p><br>

        <h2>Memória Ram</h2><br>
        <p>A sigla RAM vem do inglês “random access memory”, que pode ser <br>traduzindo para “memória de acesso aleatório”. Esse componente é responsável por dar mais <br>agilidade e velocidade no funcionamento geral do sistema. Sem a <br>memória RAM, tarefas como abrir programas e editar arquivos demorariam muito para serem realizadas.</p><br>   

        <h2>Fonte</h2><br>
        <p>As fontes de alimentação possuem função principal de transformar <br>a corrente elétrica da rede, que chega em uma voltagem alta, para uma voltagem menor, que <br>é a indicada para o hardware do computador.</p><br> 
    </div>    

</body>