@page "/inicio"

<PageTitle>Inicio</PageTitle>

<body>
  <h1 class="pl">Peças pra montagem/<b><a href="https://localhost:7267/Ajuda">O que são cada uma</a></b></h1>
  <nav class="nav">
    <ul>
      <a href="#"><li>Placa mãe</li></a>
      <button>opções</button>
      <a href="#"><li>Processador</li></a>
      <button>opções</button>
      <a href="#"><li>Memória (SSD ou HDD)</li></a>
      <button>opções</button>
      <a href="#"><li>Memória Ram(DDR's)</li></a>
      <button>opções</button>
      <a href="#"><li>Cooler</li></a>
      <button>opções</button>
      <a href="#"><li>Water Cooler</li></a>
      <button>opções</button>
      <a href="#"><li>Fonte</li></a>
      <button>opções</button>
      <a href="#"><li>Placa de Vídeo</li></a>
      <button>opções</button>
      <a href="#"><li>---------------------------------</li></a>
      <a href="#"><li>Monitores</li></a>
      <button>opções</button>
      <a href="#"><li>Gabinetes</li></a>
      <button>opções</button>
      <a href="#"><li>Cooler's</li></a>
      <button>opções</button>
      <a href="#"><li>Led's</li></a>
      <button>opções</button>
      <a href="#"><li>Teclados</li></a>
      <button>opções</button>
      <a href="#"><li>Mause</li></a>
      <button>opções</button>
      
    </ul>
  </nav>

     <ul class="NF">
      <a href="#"><li>Nível de Força:</li></a>
      <a href="#"><li>Preço Total:</li></a>
    </ul>
  <!-- https://github.com/trevisharp/TDSabado  -->
</body>
