body[b-l5sr92se35]{
	background-image: url(https://wallpaperaccess.com/full/4910984.gif);
	background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
	min-height:100vh;
	font-family: 'Noto Sans', sans-serif;
}