@page "/"

<PageTitle>Login</PageTitle>

<body>
    <form>
    <div class="box">
      <span class="text-center">login</span>
    <div class="input-container">
      <input type="text" required="required"/>
      <label>Email</label>		
    </div>
    <div class="input-container">		
      <input type="password" required="required"/>
      <label>Senha</label>
      <button class ="botao" type="button">submit</button>
      <a href="indexini.html"></a><button class ="botao" type="button">cadastro</button>
      </div>
      </div>
    
  </form>	
</body>