body{
	background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/blackholexray.png);
	background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
	min-height:100vh;
	font-family: 'Noto Sans', sans-serif;
}