@page "/Placam"

<PageTitle>PlacaMae</PageTitle>

<body>
   <nav class="nav">
     <div class="d-flex justify-content-center">

        <div class="box">
        </div>
     </div>
   </nav>  
</body>